# Auto detect text files and perform LF normalization
* text=auto
#vorticies are numbered 1 to 4, starting with the bottom left and moving clockwise, based on starting position.


using LinearAlgebra
using Plots

#define starting locations of vortices and value for T (circulation)
x1, y1, x2, y2, x3, y3, x4, y4, T = 0.0, -0.5, 0.0, 0.5, 1.0, 0.5, 1.0, -0.5, 1.0

#function "V" for the induced velocity as a vector from a vortex at (x1, y1) to a point (x2, y2) given circulation T
function V(x1, y1, x2, y2, T)
  cross([0; 0; T], [(x2 - x1); (y2 - y1); 0]) / (2 * pi * ((x2 - x1)^2 + (y2 - y1)^2))
end

#defines the destination arrays for the x and y coordinates for the location of each vortex
Vx1 = [x1,]
Vy1 = [y1,]
Vx2 = [x2,]
Vy2 = [y2,]
Vx3 = [x3,]
Vy3 = [y3,]
Vx4 = [x4,]
Vy4 = [y4,]

#define variables outside of the tuple
let t = 0 #defines t-initial, 0 seconds
  a1 = x1
  b1 = y1
  a2 = x2
  b2 = y2
  a3 = x3
  b3 = y3
  a4 = x4
  b4 = y4
  F = T
  while t <=10
    V1 = V(a4, b4, a1, b1, -F) + V(a3, b3, a1, b1, F) + V(a2, b2, a1, b1, F) #sum of vectors for Vortex 1
    V2 = V(a4, b4, a2, b2, -F) + V(a3, b3, a2, b2, F) + V(a1, b1, a2, b2, -F) #sum of vectors for Vortex 2
    V3 = V(a4, b4, a3, b3, -F) + V(a2, b2, a3, b3, F) + V(a1, b1, a3, b3, -F) #sum of vectors for Vortex 3
    V4 = V(a3, b3, a4, b4, F) + V(a2, b2, a4, b4, F) + V(a1, b1, a4, b4, -F) #sum of vectors for Vortex 4
    a1 = a1 + (V1[1] / 100) #lines 39-46 adjust the vortex location coordinates based on the new vectors divided by 100th of a second
    b1 = b1 + (V1[2] / 100)
    a2 = a2 + (V2[1] / 100)
    b2 = b2 + (V2[2] / 100)
    a3 = a3 + (V3[1] / 100)
    b3 = b3 + (V3[2] / 100)
    a4 = a4 + (V4[1] / 100)
    b4 = b4 + (V4[2] / 100)
    push!(Vx1, a1) #lines 47-54 add the new coordinates to the arrays of vortex coordinates
    push!(Vy1, b1)
    push!(Vx2, a2)
    push!(Vy2, b2)
    push!(Vx3, a3)
    push!(Vy3, b3)
    push!(Vx4, a4)
    push!(Vy4, b4)
    t = t + 0.01 #advances t by 0.01 for the next loop cycle
  end
end

plot(Vx1, Vy1, label="Vortex 1")
plot!(Vx2, Vy2, label="Vortex 2")
plot!(Vx3, Vy3, label="Vortex 3")
plot!(Vx4, Vy4, label="Vortex 4")
